h3 {color:white; 
background-color: rgb(195, 7, 233);}

#titulo3{
background-color: black;
}

.miparrafo{

color: pink;
font-size: 34px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
}