.tablas {
    display: flex; 
    gap: 20px; 
    justify-content: left; 
    align-items: flex-start; 
    flex-wrap: wrap; 
}

h3, table {
    display: block; 
    text-align: center;
}

table {
    border-collapse: collapse;
}

th {
    background-color: bisque;
}

td, th {
    padding: 5px;
    border: 1px solid black;
}